.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  transition: all ease 0.3s;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
}

.keyboard.gray {
  opacity: 0.3;
  pointer-events: none;
}

.keyboard.gray * {
  pointer-events: none;
}