@font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/Gotham\ Black\ Regular.ttf');
}

body {
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 3rem;
}
